In [1]:
import pandas as pd

In [2]:
people = {
    "first":["Bartek","Jane","John"],
    "last":["Dyk","Doe","Doe"],
    "email":["debartek1995@gmail.com","janedoe@email.com","johndoe@email.com"]
}

In [4]:
ppl_df = pd.DataFrame(people)

In [5]:
ppl_df

    first last                   email
0  Bartek  Dyk  debartek1995@gmail.com
1    Jane  Doe       janedoe@email.com
2    John  Doe       johndoe@email.com